---
import "../css/custom.css";
import "../css/reset.css";
---

<h1>Vi donerer til<br />Den Danske Naturfond</h1>
<h2>Hver gang du bruger Dankort</h2>

<style>
  h1,
  h2 {
    color: var(--white);
  }
  h1 {
    font-size: 16px;
    font-weight: 600;
  }
  h2 {
    font-size: 12px;
    font-weight: 400;
  }

  /* DESKTOP */
  @media (min-width: 1024px) {
    h1 {
      font-size: 40px;
      font-weight: 800px;
    }
    h2 {
      font-size: 32px;
      font-weight: 400;
    }
  }
</style>
